.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  .posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
}
